In [3]:
squares = [ i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
Filter_even_number = [ i for i in range(10) if i%2 == 0 ]
Filter_even_number

[0, 2, 4, 6, 8]

In [6]:
name = ['nahid', 'ferdous','marzia', 'khan']
upper_name = [ i.upper() for i in name]
upper_name

['NAHID', 'FERDOUS', 'MARZIA', 'KHAN']

In [13]:
list_tuple_pairs = [ (x,y) for x in range(3) for y in range(3)]
list_tuple_pairs

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [14]:
name = ['nahid', 'ferdous','marzia', 'khan']
filter_string_by_length = [ n for n in name if len(n) >=5 ]
filter_string_by_length

['nahid', 'ferdous', 'marzia']

In [15]:
# Multiply elements in the list 
l= [12,21,32,12,14]
multi_by_2 = [ x*2 for x in l]
multi_by_2

[24, 42, 64, 24, 28]

In [20]:
# Create a list for boolean values 
bool_list = [ True if x%2 ==0 else False for x in range(10) ]
bool_list

[True, False, True, False, True, False, True, False, True, False]

In [21]:
#F Flatten a 2D List 
matrix = [
    [1,2,3,4],
    [2,3,4,4],
    [5,2,7,1],
    [2,3,1,4]
]

flat_ist = [ item for sublist in matrix for item in sublist]
flat_ist

[1, 2, 3, 4, 2, 3, 4, 4, 5, 2, 7, 1, 2, 3, 1, 4]

In [22]:
# List of lenght of string 
name = ['nahid', 'ferdous','marzia', 'khan']
length_list = [len(n) for n in name]
length_list

[5, 7, 6, 4]

In [23]:
# filter and modify 
squers_of_even = [ x**2 for x in range(5) if x%2 ==0 ]
squers_of_even

[0, 4, 16]

In [24]:
# filter and modify 
squers_of_odd = [ x**2 for x in range(5) if x%2 !=0 ]
squers_of_odd

[1, 9]

In [25]:
# Comprehension with dictionaries 
name = ['nahid', 'ferdous','marzia', 'khan']
dic_name_len = {x : len(x) for x in name}
dic_name_len

{'nahid': 5, 'ferdous': 7, 'marzia': 6, 'khan': 4}