In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5067 sha256=a485d50c087708600e0d4460e24ec75a27645a2c8f6951a8f490af055ba402e0
  Stored in directory: /Users/nahidferdous/Library/Caches/pip/wheels/41/6f/23/878c103a235dc2d4e85a3965c124aae8a28470c541b81aa2ba
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

In [2]:
from randomuser import RandomUser
import pandas as pd

In [10]:
# first we create a random user object r
r=RandomUser()

In [20]:
some_list=r.generate_users(10)
some_list

[<randomuser.RandomUser at 0x7fbe9371ffd0>,
 <randomuser.RandomUser at 0x7fbe9371faf0>,
 <randomuser.RandomUser at 0x7fbe9371fa60>,
 <randomuser.RandomUser at 0x7fbe9371f9d0>,
 <randomuser.RandomUser at 0x7fbe9371fa90>,
 <randomuser.RandomUser at 0x7fbe9371f490>,
 <randomuser.RandomUser at 0x7fbe9371f4f0>,
 <randomuser.RandomUser at 0x7fbe9371f850>,
 <randomuser.RandomUser at 0x7fbe9371fb80>,
 <randomuser.RandomUser at 0x7fbe9371f2e0>]

In [12]:
name=r.get_full_name()
name

'James Smith'

In [16]:
for user in some_list:
    print(user.get_full_name()," ",user.get_email())

Ryan Tucker   ryan.tucker@example.com
Koray Erberk   koray.erberk@example.com
Morris Lopez   morris.lopez@example.com
Isabella Rasmussen   isabella.rasmussen@example.com
Sandro Moreau   sandro.moreau@example.com
محمدامين موسوی   mhmdmyn.mwswy@example.com
David Smith   david.smith@example.com
Teodomiro Silveira   teodomiro.silveira@example.com
Juliet Van Ravenzwaaij   juliet.vanravenzwaaij@example.com
Ed Roersma   ed.roersma@example.com

In [23]:
#In this Exercise, generate photos of the random 5 users.

In [24]:
from randomuser import RandomUser 
import pandas as pd

In [25]:
r=RandomUser()

In [29]:
new_list=r.generate_users(5)
new_list

[<randomuser.RandomUser at 0x7fbe936ae820>,
 <randomuser.RandomUser at 0x7fbe936ae910>,
 <randomuser.RandomUser at 0x7fbe9369b370>,
 <randomuser.RandomUser at 0x7fbe9369b3a0>,
 <randomuser.RandomUser at 0x7fbe936a51c0>]

In [32]:
for user in new_list:
    print(user.get_first_name()," ", user.get_picture()," ",user.get_age())

Lilja   https://randomuser.me/api/portraits/women/60.jpg   36
Hazel   https://randomuser.me/api/portraits/women/52.jpg   42
آدرین   https://randomuser.me/api/portraits/men/37.jpg   45
Martino   https://randomuser.me/api/portraits/men/97.jpg   29
Emma   https://randomuser.me/api/portraits/women/95.jpg   62

In [45]:
def get_user():
    users=[]
    
    for user in RandomUser.generate_users(10):
        users.append({"Name": user.get_username(), "Gender": user.get_gender(), "City":user.get_city(), "Photo": user.get_picture()})
        
    return users

In [46]:
get_user()

[{'Name': 'sadelephant501',
  'Gender': 'male',
  'City': 'Queimados',
  'Photo': 'https://randomuser.me/api/portraits/men/14.jpg'},
 {'Name': 'happysnake602',
  'Gender': 'female',
  'City': 'Port Macquarie',
  'Photo': 'https://randomuser.me/api/portraits/women/90.jpg'},
 {'Name': 'tinygoose603',
  'Gender': 'male',
  'City': 'Nîmes',
  'Photo': 'https://randomuser.me/api/portraits/men/56.jpg'},
 {'Name': 'brownmouse255',
  'Gender': 'female',
  'City': 'Bray',
  'Photo': 'https://randomuser.me/api/portraits/women/33.jpg'},
 {'Name': 'blackcat546',
  'Gender': 'male',
  'City': 'Sunderland',
  'Photo': 'https://randomuser.me/api/portraits/men/36.jpg'},
 {'Name': 'blueswan664',
  'Gender': 'male',
  'City': 'Trabzon',
  'Photo': 'https://randomuser.me/api/portraits/men/97.jpg'},
 {'Name': 'organicsnake303',
  'Gender': 'male',
  'City': 'Hamilton',
  'Photo': 'https://randomuser.me/api/portraits/men/74.jpg'},
 {'Name': 'ticklishpanda210',
  'Gender': 'male',
  'City': 'Jämsä',
  'Photo': 'https://randomuser.me/api/portraits/men/52.jpg'},
 {'Name': 'greenmeercat523',
  'Gender': 'female',
  'City': 'Brest',
  'Photo': 'https://randomuser.me/api/portraits/women/89.jpg'},
 {'Name': 'whitegorilla604',
  'Gender': 'female',
  'City': 'Eppstein',
  'Photo': 'https://randomuser.me/api/portraits/women/2.jpg'}]

In [47]:
df1 = pd.DataFrame(get_user())
df1

,Name,Gender,City,Photo
0,crazydog297,female,Geelong,https://randomuser.me/api/portraits/women/21.jpg
1,organicdog580,male,Lotzwil,https://randomuser.me/api/portraits/men/8.jpg
2,orangekoala522,female,Heilig Landstichting,https://randomuser.me/api/portraits/women/25.jpg
3,greendog324,female,Vipperød,https://randomuser.me/api/portraits/women/89.jpg
4,lazytiger192,female,St Davids,https://randomuser.me/api/portraits/women/21.jpg
5,reddog808,female,Hereford,https://randomuser.me/api/portraits/women/47.jpg
6,redswan700,male,South River,https://randomuser.me/api/portraits/men/38.jpg
7,organickoala874,male,Clinton,https://randomuser.me/api/portraits/men/74.jpg
8,brownzebra749,female,Naas,https://randomuser.me/api/portraits/women/34.jpg
9,blackbird370,male,Gloucester,https://randomuser.me/api/portraits/men/32.jpg

##Example 2: Fruitvice API

In [50]:
import requests as req

In [51]:
import json

In [52]:
data= req.get("https://fruityvice.com/api/fruit/all")
data

In [53]:
results=json.loads(data.text)

In [55]:
df=pd.DataFrame(results)

In [57]:
df.head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

In [60]:
df2=pd.json_normalize(results)

In [61]:
df2

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Papaya,42,Caricaceae,Caricacea,Carica,43,0.40,1.00,11.00,0.00
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
27,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
29,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
32,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
33,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
35,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
38,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
39,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90

In [89]:
cherry=df2.loc[df2['name']=="Cherry"]
(cherry.iloc[0]["family"]),(cherry.iloc[0]["genus"])

('Rosaceae', 'Prunus')

In [79]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

In [98]:
ch1= df2.loc[df2["name"]=="Cherry"]
ch1

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
38,Cherry,9,Rosaceae,Rosales,Prunus,50,0.3,8.0,12.0,1.0

In [116]:
ch1.loc[38,"family"], ch1.loc[38,"genus"],

('Rosaceae', 'Prunus')